<ion-header>

  <ion-navbar color="primary">
<ion-title *ngIf="updatelength == 0 ">New Call</ion-title>
<ion-title *ngIf="updatelength != 0 ">Update Call</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
    <ion-list>

      <ion-item>
        <ion-label floating>Company Name</ion-label>
        <ion-input  type="text"  formControlName="company_name"
                    [(ngModel)]="input"
                    (input)="search()"
                    (ionBlur)="removeFocus()"
                    debounce=500></ion-input>
      </ion-item>
      <ion-list *ngIf="countries.length !=0">
        <ion-item *ngFor="let country of countries" (click)="add(country)">
          {{country.company_name}}
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label floating>Contact Name</ion-label>

        <ion-input type="text"  formControlName="customer_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>

        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mobile</ion-label>

        <ion-input type="tel" maxlength="10" pattern="[0-9]*" formControlName="mobile"></ion-input>
      </ion-item>
      <!-- <div class="error" *ngIf="form.get('mobile').hasError('maxlength') && form.get('mobile').touched">
            Minimum 10 Numbers
          </div> -->
      <ion-item>
        <ion-label floating>Address</ion-label>

        <ion-input type="text"  formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Type</ion-label>
        <ion-select  formControlName="type">
          <ion-option value="2">Place Order</ion-option>
          <ion-option value="1">Schedule Call</ion-option>
          <ion-option value="3">Cold Call</ion-option>
        </ion-select>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block [disabled]="!isReadyToSave">Submit</button>
      </div>
    </ion-list>
  </form>
</ion-content>
