<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <form (submit)="doLogin()">
    <ion-list>

      <!-- <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item> -->

      <ion-item style="text-align: center;">
        <img src="../../assets/img/appicon.png">
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.data[0].username" name="username"></ion-input>
      </ion-item>
     

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.data[0].password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'LOGIN' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
