<!--
  Generated template for the MyordersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button navPop ion-button icon-only>
      <ion-icon color="Black" name="close"></ion-icon>
    </button>
    <ion-title>Orders List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col>
      Name
    </ion-col>
    <ion-col>
      Mobile Number
    </ion-col>
    <ion-col>
      Price
    </ion-col>
    <ion-col>
      Date
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col>
      Shanker
    </ion-col>
    <ion-col>
      7426258959
    </ion-col>
    <ion-col>
      12000
    </ion-col>
    <ion-col>
      08-02-2019
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Krishna
    </ion-col>
    <ion-col>
      8952689267
    </ion-col>
    <ion-col>
      13000
    </ion-col>
    <ion-col>
      15-02-2019
    </ion-col>
  </ion-row>
  
</ion-grid>
</ion-content>
