<!--
  Generated template for the GetstaticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button navPop ion-button icon-only>
            <ion-icon color="Black" name="close"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>


<ion-item>
  <ion-label>Date</ion-label>
  <ion-datetime displayFormat="MMMM YYYY" min="2016" max="2020-10-31" (ionChange)="date()" [(ngModel)]="choosedate"></ion-datetime>
</ion-item>

    <ion-card >

        <ion-card-content>
            <ion-list>
              <button ion-item>
               <label> Yearly Target:</label>
                <!-- {{place_orders}} -->
                {{targetdetais.yearly_target}}
              </button>
              <button ion-item>
               <label> This Month  Achieved/Target:</label>
                <!-- {{place_orders}} -->
                {{targetdetais.thismonth_target_achieved}} /{{targetdetais.thismonth_target}}

              </button>

              <button ion-item>
               <label> Prev. Month  Achieved/Target:</label>
                <!-- {{place_orders}} -->
                {{targetdetais.lastmonth_target_achieved}} /{{targetdetais.lastmonth_target}}

              </button>
                <button ion-item>
                 <label> Total Place Orders:</label>
                  <!-- {{place_orders}} -->
                  {{targetdetais.placed_orders}}

                </button>



                <button ion-item>
                  <label> Total Cold Calls:</label>
                  <!-- {{coldcall}} -->
                  {{targetdetais.cold_calls}}

                </button>
                <button ion-item>
                    <label> Total Schedule Calls:</label>
                    <!-- {{schedule_calls}} -->
                    {{targetdetais.shedule_calls}}

                  </button>


              </ion-list>
        </ion-card-content>
      </ion-card>


</ion-content>
