<ion-tabs>
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="home"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="search"></ion-tab> -->
  <ion-tab (ionSelect)="logedout()" [tabTitle]="tab2Title" tabIcon="ios-log-out"></ion-tab>
</ion-tabs>