<!--
  Generated template for the ViewOrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button navPop ion-button icon-only>
            <ion-icon color="Black" name="close"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row style="text-align:center">
   <ion-col col-6>
     <label>From Date</label>
     <input type="date" [(ngModel)]="from_date" (ngModelChange)="printVal()">
   </ion-col>
   <ion-col col-6>
     <label>To Date</label>
     <div>
     <input type="date" [(ngModel)]="to_date" (ngModelChange)="printVal()">
   </div>
   </ion-col>
 </ion-row>



   <ion-list class="list-view">
        <ion-col col-6 >
<div class="" *ngIf="viewordersDetails.length != 0">

<ion-card [ngClass]="{'highlight':orderhighlights[i]}" *ngFor="let item of viewordersDetails;let i =index" >



  <ion-row>

    <ion-col col-8>
      <div >

    <p style="font-size: 1.6rem;" class="line-clamp">Order Name: {{item.product_name}}</p>

  <p style="font-size: 1.6rem;"> Order Quantity:{{item.quantity}} M<sup>3</sup></p>
              <p style="font-size: 1.6rem;">Order Date:{{item.ordered_date | date:'d/M/yy'}}</p>
              <p style="font-size: 1.6rem;">Order Time:{{item.ordered_date | date:'shortTime'}}</p>

           <p style="font-size: 1.6rem;">price:{{item.price}}</p>
                      <p style="font-size: 1.3rem;" style="">customer Name:{{item.customer_name}}</p>
                                            <p style="font-size: 1.3rem;" style="">customer Number:{{item.mobile}}</p>


        </div>

    </ion-col>
    <ion-col col-4 style="    margin-top: auto;">
      <!-- {{item.order_status}} -->
      <ion-badge *ngIf="item.order_status == 5 " style="background-color:#ffce00;    margin-bottom: 140%;">requested</ion-badge>
<ion-badge color="danger" *ngIf="item.order_status == 3 " style="    margin-bottom: 140%;">cancelled</ion-badge>

<!-- <button *ngIf="item.order_status != 5 && item.order_status != 3"  ion-button small style=" width: 100%; color: red; background: #fff; padding: 0;font-size: 10px;  border: 0;" (click)="cancel(i,item.id)"> Request Cancel</button> -->

<button *ngIf="item.order_status != 5 && item.order_status != 3"  ion-button small style=" width: 100%; color: blue; background: #fff; padding: 0;font-size: 10px;  border: 0;" (click)="viewsuborder(i,item.id)"> view orders</button>


    </ion-col>

  </ion-row>
<ion-col col-12 *ngIf="subordersview[i]">
  <ion-card>
    <ion-card-header>

      <ion-card-title class="sublabel">Sub-Orders</ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding:0;">
        <ion-row>
    <ion-item col-6><button [disabled]="!this.subordercheck[i].length > 0"  ion-button small style=" width: 100%; color: red; background: #fff; padding: 0;font-size: 10px;  border: 0;" (click)="subordercancel(i)"> cancel</button>
</ion-item>
<!-- <ion-item col-6><button  ion-button small style=" width: 100%; color: red; background: #fff; padding: 0;font-size: 10px;  border: 0;" (click)="viewsuborder(i,item.id)"> re-schedule</button>
</ion-item> -->
<ion-item col-6 >Checked:{{subordercheck[i].length}}
</ion-item>
  </ion-row>
    </ion-card-content>

<!-- <div class=""*ngIf="suborders[i].length == 0;else noorders"> -->
<!-- {{suborders[i].length}} -->
    <ion-card-content  [ngClass]="{'highlight': suborder?.colorflag == 1}" class="suborderstyle" *ngFor="let suborder of suborders[i];let k=index">
      <!-- Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean. -->
      <!-- {{subordercheckbox[i][k]}} -->
      <!-- {{suborder.status != 5}}{{ suborder.status != 3}} -->

<div class="" *ngIf="suborder.status != 5 || suborder.status != 3">

      <ion-checkbox *ngIf="(suborder.status != 5 && suborder.status != 3)" color="primary"  style="border:black solid 1px !important" checked="subordercheckbox[i][k]" (ionChange)="subordercheck($event,suborder.id,i,k)"></ion-checkbox>
    </div>
      <ion-badge *ngIf="suborder.status == 5 " style="background-color:#ffce00;float: right;  ">requested</ion-badge>
      <ion-badge color="danger" *ngIf="suborder.status == 3 " style=" float: right;">cancelled</ion-badge>
      <ion-item>
        <div class="">

          <span class="label">Delivery Date:</span> {{suborder.deliver_date| date:'d/M/yy'}}
        </div>
        <div class="">
          <span class="label">Delivery Time:</span>  {{suborder.deliver_time }}

      </div>
      <div class="">
        <span class="label">Delivery Address:</span>  {{suborder.deliver_address}}

    </div>
    <div class="">
      <span class="label">ContactNumber:</span>  {{suborder.deliver_contact_number}}

  </div>
  <div class="">
    <span class="label">Order Duration:</span>  {{suborder.order_duration}}

</div>
  <div class="">
    <span class="label">Delivery Quantity:</span>  {{suborder.deliver_quantity}}

</div>

<!-- <div class="">
  <span class="label">Delivery Time:</span>  {{suborder.deliver_time}}

</div> -->
<!-- <div class="">
  <span class="label">Delivery Time:</span>  {{suborder.deliver_time}}

</div> -->

      </ion-item>
      <!-- <ion-item>
  <ion-label>Date</ion-label>
  <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
</ion-item> -->
<ion-item col-6 *ngIf="!(suborder.status == 5) && !(suborder.status == 3)"><button ion-button small style=" width: 100%; color: blue; background: #fff; padding: 0;font-size: 10px;  border: 0;" (click)="subreshedule(suborder.id)" > reshedule</button>
</ion-item>
    </ion-card-content>

  <!-- </div> -->
  <!-- <ng-template #noorders>No sub orders</ng-template> -->
    <hr/>
  </ion-card>

</ion-col>

</ion-card>
</div>
<div class="" style="text-align: center;"*ngIf="viewordersDetails.length == 0">
  <ion-card-header color="dark">
    No New Orders Available
  </ion-card-header>
<!-- <ion-spinner name="dots"></ion-spinner> -->
</div>
    </ion-col>


  </ion-list>



</ion-content>
