page-view-orders {
.sublabel{
  font-size: 12px;
  color: blue;
}
.suborderfont{
     font-size: 14px;
}
.suborderstyle{
  // margin: 0 5%;
  margin: 2%;

    border: black solid 0.5px;
    border-radius: 3%;
}
.label{
font-size: 12px;
}
.highlight{
  border: 4px solid green;
    box-shadow: 8px 8px 8px grey;
    border-radius: 10px;
}
}
