<!--
Generated template for the AddProductDetailsPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <!--  <ion-buttons left>
    <button ion-button icon-only (click)="backopt()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>
</ion-buttons> -->
    <ion-title>Billing Details</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <form [formGroup]="addproduct">
    <ion-row>
      <ion-col col-12>
        <!-- <ion-list> -->
        <ion-col col-12>

          <ion-item>
            <ion-label floating>Company Name</ion-label>
            <ion-input type="text" name="Company name" formControlName="company_name" required></ion-input>
          </ion-item>
          <p class="style" *ngIf="(!(addproduct.controls.company_name.valid) && addproduct.controls.company_name.touched)">Enter Company Name</p>
        </ion-col>
        <ion-col col-12>

          <ion-item>
            <ion-label floating> Contact Name</ion-label>
            <ion-input type="text" name="BillingCustomerName" formControlName="billing_name" required></ion-input>
          </ion-item>
          <p class="style" *ngIf="(!(addproduct.controls.billing_name.valid) && addproduct.controls.billing_name.touched)">Enter Billing Customer Name</p>
        </ion-col>
        <ion-col col-12>

          <ion-item>
            <ion-label floating> Address</ion-label>

            <ion-input type="text" name="BillingCustomerAddress" formControlName="billing_address" required></ion-input>
          </ion-item>
          <p class="style" *ngIf="( !(addproduct.controls.billing_address.valid) && addproduct.controls.billing_address.touched)">Billing Customer Address</p>
        </ion-col>
        <ion-col col-12>

          <ion-item>
            <ion-label floating>Contact Number</ion-label>

            <ion-input type="tel" maxlength="10" pattern="[0-9]*" name="ContactNumber" formControlName="contact_number" required></ion-input>
          </ion-item>
          <p class="style" *ngIf="(!(addproduct.controls.contact_number.valid) && addproduct.controls.contact_number.touched)">Enter Contact Name</p>

        </ion-col>
        <ion-col col-12>

          <ion-item>
            <ion-label floating>Email</ion-label>

            <ion-input type="email" name="BillingCustomeremail" formControlName="customer_email" required></ion-input>
          </ion-item>
          <p class="style" *ngIf="( !(addproduct.controls.customer_email.valid) && addproduct.controls.customer_email.touched || (addproduct.controls.customer_email.untouched && this.formSubmitAttempt) )">Enter Customer Email</p>
        </ion-col>

        <ion-col col-12>

          <ion-item>

            <ion-label floating>Product Name</ion-label>

            <ion-select formControlName="product_name" name="mcube" (ionChange)="onSelectChangemcube($event)">
              <ion-option value="M5">M5</ion-option>
              <ion-option value="M7.5">M7.5</ion-option>
              <ion-option value="M10">M10</ion-option>
              <ion-option value="M15">M15</ion-option>
              <ion-option value="M20">M20</ion-option>
              <ion-option value="M25">M25</ion-option>
              <ion-option value="M30">M30</ion-option>
              <ion-option value="M35">M35</ion-option>
              <ion-option value="M40">M40</ion-option>


            </ion-select>

          </ion-item>
          <p class="style" *ngIf="(  !(addproduct.controls.product_name.valid) && addproduct.controls.product_name.touched || (addproduct.controls.product_name.untouched && this.formSubmitAttempt))">Choose Product</p>

        </ion-col>
        <ion-col col-12>

          <ion-item>
            <ion-label floating>Product Rate</ion-label>

            <ion-input type="number" name="ProductRate" formControlName="price" required></ion-input>
          </ion-item>
          <p class="style" *ngIf="( !(addproduct.controls.price.valid )&& addproduct.controls.price.touched || (addproduct.controls.price.untouched && this.formSubmitAttempt))">Enter Rate of the Product</p>

        </ion-col>
        <ion-col col-12>
          <ion-row>
            <ion-col col-9>
              <ion-item>
                <ion-label floating>Total Quantity</ion-label>

                <ion-input type="number" maxlength="4" name="Product Total Quantity" formControlName="quantity" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col style="text-align: center; margin: auto;" col-3>
              <p>M
                <sup>3</sup>
              </p>
            </ion-col>
          </ion-row>
          <p class="style" *ngIf="( !(addproduct.controls.quantity.valid) && addproduct.controls.quantity.touched || (addproduct.controls.quantity.untouched && this.formSubmitAttempt))">Enter Total Quality</p>

        </ion-col>

        <ion-col col-12>

          <ion-item>
            <ion-label floating>Billing Mode</ion-label>
            <ion-select formControlName="bill_type" name="bill_type" (ionChange)="onSelectChangelocation($event)">
              <ion-option value="1">Enable</ion-option>
              <ion-option value="0">Disable</ion-option>
            </ion-select>
          </ion-item>
          <p class="style" *ngIf="( !(addproduct.controls.bill_type.valid) && addproduct.controls.bill_type.touched || (addproduct.controls.bill_type.untouched && this.formSubmitAttempt))">Choose Billign Type </p>



        </ion-col>
        <ion-col col-12 *ngIf="addproduct.controls.bill_type.value == 1">

          <ion-item>
            <ion-label floating>GST</ion-label>

            <ion-input type="text" name="gst" formControlName="gst_no" required></ion-input>
          </ion-item>
          <!-- <p class="style" *ngIf="addproduct.controls.quantity.touched">*Required</p> -->
        </ion-col>

        <div class="" formArrayName="deliver_data">
          <div class="" *ngFor="let opt1 of addproduct.get('deliver_data').controls;let i=index;let last1= last;let first1=first" [formGroupName]="i">

            <ion-card>


              <ion-row>
                <ion-col col-12>
                  <ion-list>

                    <ion-col col-12>
                      <ion-item>
                        <ion-label floating>Date</ion-label>
                        <ion-datetime display-format="dd/MM/yyyy " formControlName="deliver_date" name="ProductDeliveryDate" required></ion-datetime>
                      </ion-item>

                      <p class="style" *ngIf="( !(addproduct.controls.deliver_data.controls[i].controls.deliver_date.valid) && addproduct.controls.deliver_data.controls[i].controls.deliver_date.touched  || (addproduct.controls.deliver_data.controls[i].controls.deliver_date.untouched && this.formSubmitAttempt))">Choose Date</p>

                    </ion-col>


                    <ion-col col-12>
                      <ion-item>
                        <ion-label floating>Time</ion-label>
                        <ion-datetime displayFormat="h:mm a" pickerFormat="h mm a" name="ProductDeliveryTime" formControlName="deliver_time" required></ion-datetime>
                      </ion-item>
                      <p class="style" *ngIf="(  !(addproduct.controls.deliver_data.controls[i].controls.deliver_time.valid) && addproduct.controls.deliver_data.controls[i].controls.deliver_time.touched || (addproduct.controls.deliver_data.controls[i].controls.deliver_time.untouched && this.formSubmitAttempt))">Choose Time</p>


                    </ion-col>
                    <ion-col col-12>
                      <ion-row>
                        <ion-col col-9>
                          <ion-item>
                            <ion-label floating>Order Duration</ion-label>
                            <ion-select formControlName="order_duration">
                              <ion-option *ngFor="let dur of duration" value="{{dur}}">{{dur}}</ion-option>
                            </ion-select>
                          </ion-item>
                          <p class="style" *ngIf="(  !(addproduct.controls.deliver_data.controls[i].controls.order_duration.valid) && addproduct.controls.deliver_data.controls[i].controls.order_duration.touched || (addproduct.controls.deliver_data.controls[i].controls.order_duration.untouched && this.formSubmitAttempt))">Choose Duration</p>


                        </ion-col>
                        <ion-col style="text-align: center; margin: auto;" col-3>
                          <p>Hrs</p>
                        </ion-col>
                      </ion-row>

                    </ion-col>
                    <ion-col col-12>

                      <ion-item>
                        <ion-label floating>Machine Requirement</ion-label>
                        <ion-select formControlName="machine_requirement">
                          <ion-option value="boom_placer">Boom Placer</ion-option>
                          <ion-option value="concrete_pump">Concrete Pump</ion-option>
                          <ion-option value="manual">Manual</ion-option>
                        </ion-select>
                      </ion-item>
                      <p class="style" *ngIf="(  !(addproduct.controls.deliver_data.controls[i].controls.machine_requirement.valid) && addproduct.controls.deliver_data.controls[i].controls.machine_requirement.touched || (addproduct.controls.deliver_data.controls[i].controls.machine_requirement.untouched && this.formSubmitAttempt))">Choose Machine Requirement</p>

                    </ion-col>

                    <ion-row>
                      <ion-col col-9>
                        <ion-item>
                          <ion-label floating>Quantity</ion-label>

                          <ion-input type="Number" (input)="checkblur(i,qual.value)" #qual name="deliverquantity" formControlName="deliver_quantity"></ion-input>
                        </ion-item>
                        <p class="style" *ngIf="(  !(addproduct.controls.deliver_data.controls[i].controls.deliver_quantity.valid) && addproduct.controls.deliver_data.controls[i].controls.deliver_quantity.touched || (addproduct.controls.deliver_data.controls[i].controls.deliver_quantity.untouched && this.formSubmitAttempt))">Enter Quantity</p>

                      </ion-col>
                      <ion-col style="text-align: center; margin: auto;" col-3>
                        <p>M
                          <sup>3</sup>
                        </p>
                      </ion-col>
                    </ion-row>

                    <ion-col col-12>

                      <ion-item>
                        <ion-label floating>Delivery Addr</ion-label>

                        <ion-input type="text" name="BillingCustomerName" formControlName="deliver_address" required></ion-input>
                      </ion-item>
                      <p class="style" *ngIf="( !(addproduct.controls.deliver_data.controls[i].controls.deliver_address.valid) && addproduct.controls.deliver_data.controls[i].controls.deliver_address.touched || (addproduct.controls.deliver_data.controls[i].controls.deliver_address.untouched && this.formSubmitAttempt))">Enter Address</p>

                    </ion-col>
                    <ion-col col-12>

                      <ion-item>
                        <ion-label floating>Cont. Name</ion-label>

                        <ion-input type="text" name="BillingCustomerName" formControlName="deliver_contact_name" required></ion-input>
                      </ion-item>
                      <p class="style" *ngIf="( !(addproduct.controls.deliver_data.controls[i].controls.deliver_contact_name.valid) && addproduct.controls.deliver_data.controls[i].controls.deliver_contact_name.touched || (addproduct.controls.deliver_data.controls[i].controls.deliver_contact_name.untouched && this.formSubmitAttempt))">Enter Delivery Contact Number</p>

                    </ion-col>
                    <ion-col col-12>

                      <ion-item>

                        <ion-label floating>Cont. Number</ion-label>

                        <ion-input type="tel" maxlength="10" pattern="[0-9]*" name="BillingCustomerName" formControlName="deliver_contact_number"
                          required></ion-input>
                      </ion-item>
                      <p class="style" *ngIf="( !(addproduct.controls.deliver_data.controls[i].controls.deliver_contact_number.valid) && addproduct.controls.deliver_data.controls[i].controls.deliver_contact_number.touched || (addproduct.controls.deliver_data.controls[i].controls.deliver_contact_number.untouched && this.formSubmitAttempt))">Enter Contact Number</p>
                    </ion-col>

                  </ion-list>
                </ion-col>
              </ion-row>
              <button style="float:right;background-color:red" ion-button (click)="remocesplit(i,addproduct.get('deliver_data').controls.length)">Remove</button>
            </ion-card>
            <button *ngIf="last1 && addproduct.controls.quantity.value > total" ion-button (click)="addorder(i)">split</button>


          </div>
        </div>
        <p class="style" *ngIf="addproduct.controls.quantity.value < total">Quantity More than Total Quantity</p>
        <p class="style" *ngIf="addproduct.controls.quantity.value > total">Quantity Less than Total Quantity</p>

      </ion-col>
      <ion-col col-12 style="margin:auto">

        <button ion-button block color="primary" type="submit" (click)="OpenProductaddpage(addproduct)">Confirm Orders</button>

      </ion-col>
    </ion-row>
  </form>
</ion-content>