page-list-order{
  .fontsize{
    font-size: 12px;
    font-weight: 600;
    // color: #4f6991;
  }
  .label{
  font-size: 10px;
  }
  .header{
    float: right;
    background: transparent;
    color: #fff;
  }
}

