<ion-header style="text-align:center">
  <ion-toolbar color="primary">
    <button ion-buttons class="logout header" slot="end" (click)="logout()">
      <ion-icon name="log-out" style="font-size: xx-large;"></ion-icon>
    </button>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div class="" *ngFor="let order of orders;let i = index">
    <ion-card>
      <ion-row>
        <ion-col col-6>

          <!-- {{order.index}} -->
          <div class="label"><b>Porduct Name</b>:<span class="fontsize">{{order?.product_name | titlecase}}</span></div>
          <div class="label"><b>Order Date</b>:<span class="fontsize">{{order?.ordered_date   |  date:'dd/MMM/yyyy' }}</span>
          </div>
          <div class="label"><b>Billing Name</b>:<span class="fontsize">{{order?.billing_name | titlecase}}</span></div>
          <div class="label"><b>Billing Address</b>:<span class="fontsize">{{order?.billing_address | titlecase}}</span>
          </div>
          <div class="label"><b>Contact Number</b>:<span class="fontsize">{{order?.contact_number | titlecase}}</span>
          </div>
          <div class="label"><b>Quantity</b>:<span class="fontsize">{{order?.quantity | titlecase}} M
              <sup>3</sup></span></div>
        </ion-col>
        <ion-col col-6>
          <div class="label"><b>Price</b>:<span class="fontsize">{{order?.price | titlecase}}</span></div>
          <div class="label"><b>Contact Person</b>:<span class="fontsize">{{order?.contact_person }}</span></div>
          <div class="label"><b>Contact Number</b>:<span class="fontsize">{{order?.contact_number }}</span></div>
          <div class="label"><b>GST NO </b>:<span class="fontsize">{{order?.gst_no }}</span></div>
          <div class="label"><b>Delivery Date</b>:<span
              class="fontsize">{{order?.delivered_date | date:'dd/MMM/yyyy'}}</span></div>
        </ion-col>
      </ion-row>
      <div>
        {{suborderlen[order.index]}}
        <button  ion-button color="primary" expand="small" [disabled]="suborderlen[order.index].length == 0"
          (click)="clickorders(order,order.index)">View orders</button>
        <button ion-button color="primary" expand="small" [disabled]="!(suborderlen[order.index].length == 0)"
          (click)="clicksign(order.index)">Signature</button>
      </div>
      <div *ngIf="sign[order.index]">
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
          (onEndEvent)="drawComplete(order.index)"></signature-pad>
        <div>
          <button ion-button color="primary" expand="small" (click)="clickclear(order.index)">Clear</button>
          <button ion-button color="primary" expand="small" [disabled]="!(this.strImage[order.index] != undefined)"
            (click)="clicksave(order.index,order.id)">save</button>
        </div>
      </div>
      <div *ngIf="Subordersview[order.index]">
        <div *ngIf="Suborders[order.index].length !=0;">
          <div *ngFor="let suborders of Suborders[order.index];let k = index">
            <ion-card class="subcolor">
              <ion-row>
                <ion-col col-6>
                  <div style="text-align: end;color: blue;" class="label" *ngIf="suborders.status == '4'"><span
                      style="background: #fff;border-radius: 5%;" class="fontsize">Delivered</span></div>
                  <div class="label"><b>Order Date</b>:<span
                      class="fontsize">{{suborders?.deliver_date | date:'dd/MMM/yyyy'   }}</span></div>
                  <div class="label"><b>Order Time</b>:<span class="fontsize">{{suborders?.deliver_time   }}</span>
                  </div>
                  <div class="label"><b>Delivery Address</b>:<span
                      class="fontsize">{{suborders?.deliver_address | titlecase}}</span></div>
                  <div class="label"><b>Contact Number</b>:<span
                      class="fontsize">{{suborders?.deliver_contact_number | titlecase}}</span></div>
                  <div class="label"><b>Quantity</b>:<span class="fontsize">{{suborders?.deliver_quantity | titlecase}}
                      M <sup>3</sup></span></div>
                </ion-col>
              </ion-row>
              <div *ngIf="suborders.status != '4'">
                <button ion-button color="primary" expand="small" (click)="subsignature(order.index,k)">sub -order Signature</button>
              </div>
              <div *ngIf="this.subsignatures[k] && suborders.status != '4'">
                <signature-pad style="background:#fff;" [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                  (onEndEvent)="drawsubcorderComplete(k)"></signature-pad>
                <div style="background: #fff;">
                  <button ion-button color="primary" expand="small" [disabled]="!(this.suborderImg[k] != undefined)"
                    (click)="clicksubclear(order.index)">Clear</button>
                  <button ion-button color="primary" expand="small" [disabled]="!(this.suborderImg[k] != undefined)"
                    (click)="clicksubordersave(order.index,k,suborders)">save</button>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

      </div>
    </ion-card>

  </div>
  <div class="" style="text-align:center;padding:5%;" *ngIf="orders.length == 0 ">
    No Orders Found
  </div>

</ion-content>