<!--
  Generated template for the AddProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  	 <ion-buttons left>
            <button ion-button icon-only (click)="backopt()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title>Call Page</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
	 <form #loginForm="ngForm">
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Name"
              ></ion-input>
          </ion-item>
             <ion-item>
            <ion-input type="text" placeholder="Mobile Number"></ion-input>
          </ion-item>
           <ion-item>
            <ion-input type="text" placeholder="Billing Addess" 
              ></ion-input>
          </ion-item>
           <ion-item>
            <ion-input type="text" placeholder="GST Number" 
              ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Email"
              ></ion-input>
          </ion-item>       
            <ion-col col-12 style="margin:auto">
        <button ion-button block color="primary" type="submit">Schedule Call</button>
        <button ion-button block color="primary" type="submit">Place Order</button>
        <button ion-button block color="primary" type="submit">Fail Call</button>
      </ion-col>

        </ion-list>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
