<!--
  Generated template for the FailedcalllistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
  	 <ion-buttons left>
            <button navPop ion-button icon-only>
              <ion-icon color="Black" name="close"></ion-icon>
            </button>
          </ion-buttons>
    <ion-title>Cold Calls</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	 <ion-row style="text-align:center">
    <ion-col col-6>
      <label>From Date</label>
      <input type="date" [(ngModel)]="from_date" (ngModelChange)="printVal()">
    </ion-col>
    <ion-col col-6>
      <label>To Date</label>
      <div>
      <input type="date" [(ngModel)]="to_date" (ngModelChange)="printVal()">
    </div>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let item of scheduleDetails" >
    <div *ngIf="scheduleDetails">
      <ion-card-header color="dark">
        <h2>{{item.company_name}}</h2>
        <h2>{{item.customer_name}}</h2>
        <!-- <p>{{item.date}} | {{item.time}}</p> -->
        <p>{{item.created_date | date:'d/M/yy'}} | {{item.created_date |date:'shortTime'}}</p>
      </ion-card-header>


      <ion-card-content>
<!--         <a href="https://www.google.com/maps/place/{{item.pickup_location}}" target="_blank" ion-button  clear small icon-start>
 -->          <ion-icon name='ios-navigate'></ion-icon>
          {{item.customer_address}}
      </ion-card-content>

      <ion-row>
        <ion-col>
          <a  href="tel:{{item.customer_mobile}}" ion-button color="dark" clear small icon-start>
              <ion-icon name='ios-call'></ion-icon>
              {{item.customer_mobile}}
          </a>
        </ion-col>
        <ion-col>

        <!--   <button  ion-button color="danger" clear small icon-start >
              <ion-icon name='ios-hand'></ion-icon>
            Update Status
          </button> -->
        </ion-col>

      </ion-row>
    </div>
  </ion-card>
  <ion-card *ngIf="!scheduleDetails" style="text-align:center">
    <ion-card-header color="dark">
      No Cold Calls Available
    </ion-card-header>
  </ion-card>

</ion-content>
