
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Delivered Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row style="text-align:center">
   <ion-col col-6>
     <label>From Date</label>
     <input type="date" [(ngModel)]="from_date" (ngModelChange)="printVal()">
   </ion-col>
   <ion-col col-6>
     <label>To Date</label>
     <div>
     <input type="date" [(ngModel)]="to_date" (ngModelChange)="printVal()">
   </div>
   </ion-col>
 </ion-row>
  <ion-list class="list-view">
       <ion-col col-6 >
         <div class="" *ngIf="deliveryorders.length != 0">


         <ion-card *ngFor="let item of deliveryorders;let i =index" >


           <ion-row>

             <ion-col col-8>
               <div >

             <p style="font-size: 1.6rem;" class="line-clamp">Order Name: {{item.product_name}}</p>

           <p style="font-size: 1.6rem;"> Order Quantity:{{item.quantity}} M<sup>3</sup></p>
                       <p style="font-size: 1.6rem;">Order Date:{{item.ordered_date | date:'d/M/yy'}}</p>
                    <p style="font-size: 1.6rem;">price:{{item.price}}</p>
                               <p style="font-size: 1.3rem;" style="">customer Name:{{item.billing_name}}</p>
                                                     <p style="font-size: 1.3rem;" style="">customer Number:{{item.contact_number}}</p>


                 </div>

             </ion-col>
             <ion-col col-4 style="    margin-top: auto;">
               <!-- {{item.order_status}} -->
               <!-- <ion-badge *ngIf="item.order_status == 5 " style="background-color:#ffce00;    margin-bottom: 140%;">requested</ion-badge>
         <ion-badge color="danger" *ngIf="item.order_status == 3 " style="    margin-bottom: 140%;">cancelled</ion-badge> -->


         <button  ion-button small style=" width: 100%; color: blue; background: #fff; padding: 0;font-size: 10px;  border: 0;" (click)="viewsuborder(i,item.id)"> view orders</button>


             </ion-col>

           </ion-row>
         <ion-col col-12 *ngIf="subordersview[i]">
           <ion-card>
             <ion-card-header *ngIf=" suborders[i].length != 0">

               <ion-card-title class="sublabel">Sub-Orders</ion-card-title>
             </ion-card-header>


<div class="" *ngIf="suborders[i].length != 0">


             <ion-card-content class="suborderstyle" *ngFor="let suborder of suborders[i];let k=index">
               <ion-item>
                 <div class="">

                   <span class="label">Delivery Date:</span> {{suborder.deliver_date}}
                 </div>
                 <div class="">
                   <span class="label">Delivery Time:</span>  {{suborder.deliver_time}}

               </div>
               <div class="">
                 <span class="label">Delivery Address:</span>  {{suborder.deliver_address}}

             </div>
             <div class="">
               <span class="label">ContactNumber:</span>  {{suborder.deliver_contact_number}}

           </div>
           <div class="">
             <span class="label">Delivery Quantity:</span>  {{suborder.deliver_quantity}} M<sup>3</sup>

         </div>
         <div class="">
           <span class="label">Delivery Time:</span>  {{suborder.deliver_time}}

         </div>
         <div class="">
           <span class="label">Delivery Time:</span>  {{suborder.deliver_time}}

         </div>

               </ion-item>
             </ion-card-content>
             <hr/>
           </div>

           <div class="" style="text-align: center;"*ngIf=" suborders[i].length == 0">
             <p>No Records Found</p>
           <!-- <ion-spinner name="dots"></ion-spinner> -->
           </div>
           </ion-card>

         </ion-col>

         </ion-card>
         </div>
         <div class="" style="text-align: center;"*ngIf="deliveryorders.length == 0">
           <!-- <p>No Records Found</p> -->
         <!-- <ion-spinner name="dots"></ion-spinner> -->
         <ion-card-header color="dark">
           No Delivery Orders Available
         </ion-card-header>
         </div>
         </ion-col>
         </ion-list>
</ion-content>
