<!--
  Generated template for the UpdateschedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="primary">
    <ion-buttons left>
        <button navPop ion-button icon-only>
          <ion-icon color="Black" name="close"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>UpdateSchedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-col col-12>
<ion-item>
<ion-label>Date</ion-label>
<ion-datetime display-format="DD/MM/YYYY "  picker-format="DD/MM/YYYY" [(ngModel)]="date"  name="ProductDeliveryDate"
    required ></ion-datetime>
</ion-item>
</ion-col>

  <ion-col col-12>
<ion-item>
<ion-label>Time</ion-label>
<ion-datetime displayFormat="h:mm a"[(ngModel)]="time" pickerFormat="h mm a" name="ProductDeliveryTime"
required ></ion-datetime>
</ion-item>

</ion-col>
<ion-col col-12 style="margin:auto">
  <!-- [disabled]="!addproduct.valid" -->
  <!-- {{addproduct.valid}} -->
     <button ion-button block color="primary" type="submit"  (click)="UpdateSchedule()"  >Update Orders</button>
   </ion-col>
</ion-content>
