<!--
  Generated template for the SchedulecallsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button navPop ion-button icon-only>
              <ion-icon color="Black" name="close"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title  *ngIf="type == 2">Schedule Calls</ion-title>
            <ion-title  *ngIf="type == 3">Failed Calls</ion-title>

    </ion-navbar>
  </ion-header>


  <ion-content>
  	 <form #loginForm="ngForm">
   <ion-item>
  <ion-label>Meeting Date</ion-label>
  <ion-datetime display-format="MMM DD, YYYY HH:mm"  name="ScheduleDate"
            [(ngModel)]="scheduleData.date"
              required ></ion-datetime>
</ion-item>
           <!--   <ion-item>
            <ion-input type="text" placeholder="Enter Time"  name="Scheduletime" [(ngModel)]="scheduleData.Time"
              required></ion-input>
          </ion-item>
 -->
            <ion-item>
  <ion-label>Meeting Time</ion-label>
        <ion-datetime displayFormat="h:mm a" pickerFormat="h mm a"name="Scheduletime" [(ngModel)]="scheduleData.time"
              required ></ion-datetime>
</ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Enter Comments"   name="ScheduleComments" [(ngModel)]="scheduleData.comments"
              required
              ></ion-input>
          </ion-item>
  <div padding>
        <button ion-button color="primary" block *ngIf="type == 2"  (click)="SubmitSchedulepage()" [disabled]="!loginForm.form.valid">Schedule Calls</button>
         <button ion-button color="primary" block *ngIf="type == 3"  (click)="SubmitSchedulepage()" [disabled]="!loginForm.form.valid">Failed Calls</button>
      </div>
</form>
  </ion-content>
  
