page-list-master {
    // .shadow-red{
    //     display: inline-block;
    //     text-decoration: none;
    //     color: #FFF;
    //     width: 120px;
    //     height: 120px;
    //     margin: 20px;
    //     line-height: 120px;
    //     border-radius: 50%;
    //     text-align: center;
    //     vertical-align: middle;
    //     overflow: hidden;
    //     background-image: -webkit-linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    //     background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    //     transition: .4s;
    // }
    .bg{
 //      background-image: url("../../assets/img/bg.jpg");
 //      background-repeat: no-repeat;
 // background-position: center;
 // background-attachment: fixed;
     background-color: #0072bc;
    }
    .button{
      width: 90%;
      height: 150px;
      background: #fff;
      color: black;

      //
      font-size: large;
      border-radius: 10%;
    }
    .text-on-bottom > .button-inner {
  flex-direction: column;
  // font-size: smaller;
}

ion-card{
  // height: 100%;
  //   font-size: -webkit-xxx-large !important;
padding: 0 !important;
// width: 82% !important;
width: 75% !important;

text-align: center  !important;
border-radius: 50% !important;
align-items: center !important;
// height: 130px !important;

height: 120px !important;

font-size: larger !important;
}
ion-icon{
  display: inline-block !important;
font-size: 2.2em !important;
}
.stytle{
  // height: 100% ;
  // font-size: 30px !important;
  //     font-size: x-large;
  //   font-size: -webkit-xxx-large !important;
}
}
