<ion-content class="bg">
  <!-- <ion-card>
  alsdkf;alksdjf;lkj
</ion-card> -->

  <ion-grid style="margin: auto;padding: 12% 2%;">
    <ion-row>
      <ion-col *ngIf="this.role_id != '3'">
        <div>
          <ion-card ion-button style="margin: 10%;font-size: small !important;" class="shadow-red stytle  button text-on-bottom" (click)="routePage('new')">
            <ion-icon name="call"></ion-icon>
            New Call
          </ion-card>
        </div>
      </ion-col>
      <ion-col style="text-align: center;" *ngIf="this.role_id != '3'">
        <div>
          <ion-card ion-button style="margin: 10%;font-size: small !important;" class="shadow-red  stytle button text-on-bottom" (click)="routePage('schedule')">
            <ion-icon name="clock"></ion-icon>
            Schedule
            <br> Calls</ion-card>
        </div>
      </ion-col>

    </ion-row>

    <!-- // -->

    <ion-row>
      <ion-col *ngIf="this.role_id != '3'">
        <div>
          <ion-card ion-button style="margin: 10%;font-size: small !important;" class="shadow-red  stytle button text-on-bottom" (click)="routePage('cold')">
            <ion-icon name="people"></ion-icon>
            Cold Calls</ion-card>

        </div>
      </ion-col>
      <ion-col style="text-align: center;" >
        <div>
          <ion-card ion-button style="margin: 10%;font-size: small !important;" class="shadow-red  stytle button text-on-bottom" (click)="routePage('ViewOrdersPage')">
            <ion-icon name="basket"></ion-icon>
            Orders
          </ion-card>
        </div>
      </ion-col>

    </ion-row>
    <!-- // -->
    <ion-row>
      <ion-col *ngIf="this.role_id != '3'">
        <div>
          <ion-card ion-button style="margin: 10%;font-size: small !important;" class="shadow-red  stytle button text-on-bottom" (click)="routePage('statics')">
            <ion-icon name="stats"></ion-icon>
            Statistics</ion-card>
        </div>
      </ion-col>
      <ion-col style="text-align: center;" *ngIf="this.role_id != '3'">
        <div>
          <ion-card ion-button style="margin: 10%;font-size: small !important;" class="shadow-red  stytle button text-on-bottom" (click)="routePage('delivered')">
            <ion-icon name="cube"></ion-icon>
            Delivered
            <br> Orders</ion-card>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-content
  [delegate-handle=""]
  [direction=""]
  [padding=""]
  [scroll=""]
  [overflow-scroll=""]
  [scrollbar-x=""]
  [scrollbar-y=""]
  [start-y=""]
  [on-scroll=""]
  [on-scroll-complete=""]
  [has-bouncing=""]>
...
</ion-content> -->